<nav 
  class="bg-light h-100 d-flex flex-column"
  style="padding: 32px;"
>
  <a 
    href=""
    class="d-flex mb-4"
  >
    <img src="../assets/images/logo-ANSWER.svg" alt="">
  </a>
  <ul class="navigation-list">
    <li>
      <a 
        href=""
        class="d-flex align-items-center pb-2 text-dark fw-bold"
      >
        <span class="material-symbols-outlined me-3">
          insert_chart
        </span>
        Dashboard
      </a>
    </li>
    <li>
      <a 
        href="" 
        class="d-flex align-items-center py-2 text-dark fw-bold"
      >
        <span class="material-symbols-outlined me-3">
        forum
        </span>
        Question
      </a>
    </li>
    <li>
      <a 
        href="" 
        class="d-flex align-items-center py-2 text-dark fw-bold active"
      >
        <span class="material-symbols-outlined me-3">
          assignment
        </span>
        Assignment
      </a>
    </li>
    <li>
      <a 
        href="" 
        class="d-flex align-items-center py-2 text-dark fw-bold"
      >
        <span class="material-symbols-outlined me-3">
        video_library
        </span>
        Course
      </a>
    </li>
    <li>
      <a 
        href="" 
        class="d-flex align-items-center py-2 text-dark fw-bold"
      >
        <span class="material-symbols-outlined me-3">
        group
        </span>
        Admin
      </a>
    </li>
    <li>
      <a 
        href="" 
        class="d-flex align-items-center py-2 text-dark fw-bold"
      >
      <span class="material-symbols-outlined me-3">
        settings
        </span>
        Settings
      </a>
    </li>
  </ul>

  <div class="d-flex mt-auto align-items-center">
    <img 
      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" 
      alt=""
      width="40"
      height="40"
      class="rounded-circle me-3"
      style="object-fit: cover;"
    >
    <div>
      <p class="fw-bold">
        Andy Chen
      </p>
      <a 
        href="mailto:andy0401@mail.com"
        class="d-block text-secondary"
      >
        andy0401@mail.com
      </a>
    </div>
  </div>
</nav>