.index-title {
  font-size: 100px;
}

.ck.ck-reset.ck-editor.ck-rounded-corners {
  display: none;
  position: absolute;
  top: -1px; 
  bottom: -33px;
  right: -17px; 
  left: -18px; 
  background-color: #fff;
  transition: transform .5s;

  .ck-editor__main {
    height: 100%;

    .ck-content {
      height: 100%;
    }
  }
}

.close-btns {
  display: none;
  transition-delay: 0.5s;
  text-align: end;
  position: absolute;
  right: 0;
  left: -16px;
  bottom: -60px;
  background-color: #fff;
  padding: 8px 0;
}

.reply-section.active {

  .ck.ck-reset.ck-editor.ck-rounded-corners {
    display: block;
  }
  
  .close-btns {
    display: block;
  }
}

.card {
  height: calc(100% - 70px);
}

.list-group-item.active {
  background-color: $gray-100;
  color: var(--bs-dark);
  border-color: $gray-100;
}